* {
    font-family: "Inter", serif, sans-serif;
}

/* body{
    background: black;
} */

#link-profile-container {
    margin: 5rem auto;
    width: 364px;
    height: 530px;
    background: #1f1f1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.avatar-img img{
    width: 88px;
    height: 88px;
    border-radius: 100%;
}

.profile-text {
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.avatar-img{
    margin-top: 35px;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #c5f82a;
    font-size: 14px;
}

p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}