* {
    font-family: "Inter", serif, sans-serif;
    /* background-color: #141414; */
}

body{
    background: black;
}

#link-profile-container {
    margin: 9rem auto;
    width: 384px;
    /* height: 600px; */
    background-color: #141414;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    border-radius: 8px;
    /* border: 1px solid #c5f82a; */
}
.avatar-img {
    display: flex;
    align-items: center;
    flex-direction: column;
   padding-top: 50px;
}

.avatar-img img{
    width: 88px;
    height: 88px;
    border-radius: 100%;
}

.profile-text {
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #c5f82a;
    font-size: 14px;
}

p{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.links-menu{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 80%;
    height: 80%;
}

.links-menu li{
    list-style: none;
    text-align: center;
    width: 304px;
    height: 45px;
    margin: 1rem 0rem;
}

.links-menu li a{
    background-color: #333333;
    text-decoration: none;
    color: white;
    width: 304px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: 700;
  
}
.profile-links-container{
 margin-top: 1.5rem;
}
footer{
    margin-top: 1.5rem;
    text-align: center;
    color: #c5f82a;
    font-size: 14px;
}